    .footer {
      position: absolute; /* Positioned relative to the closest positioned ancestor */
    bottom: 0; 
      text-align: center;
      padding: 20px 0;
      background-color: #b7ffe900;
      color: #000000;
      font-size: 1rem;
      margin-top: 50px;
    }

    .footer a {
      color: #f39c12;
      text-decoration: none;
    }

    .footer a:hover {
      text-decoration: underline;
    }
