html, body {
    padding-top: 30px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #f7f7f7, #eaeaea) !important; /* Added !important */
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    background: linear-gradient(to bottom, #343a40, #23272b) !important; /* Added !important */
    color: #fff;
    padding-top: 20px;
}

.sidebar a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background: linear-gradient(to right, #575757, #424242) !important; /* Added !important */
}

.navbar {
    padding: 0.75rem 1rem;
    background: linear-gradient(to right, #23272b, #343a40) !important; /* Added !important */
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    background: linear-gradient(to bottom, #ffffff, #f9f9f9) !important; /* Added !important */
}

.card {
    border-radius: 8px;
    margin-bottom: 1.5rem;
    background: linear-gradient(to bottom, #ffffff, #f8f8f8) !important; /* Added !important */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.monitor-card {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    color: #fff;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.dataTables_wrapper {
    padding: 20px;
}

.sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #343a40, #23272b) !important; /* Added !important */
}

.footer {
    background: linear-gradient(to right, #23272b, #343a40) !important; /* Added !important */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}